Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: python-format
        name: python-format
        types_or: [python]
        entry: make format
        language: system
        pass_filenames: false
      - id: python-typecheck
        name: python-typecheck
        types_or: [python]
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: js-prettier
        name: js-prettier
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
        entry: npm run prettier
        language: system
      - id: js-lint
        name: js-lint
        types_or: [ts, tsx]
        entry: npm run lint-fix
        language: system
        pass_filenames: false
      - id: js-typecheck
        name: js-typecheck
        types_or: [ts, tsx]
        entry: npm run typecheck
        language: system
        pass_filenames: false
      - id: python-generate-ts
        name: python-generate-ts
        types_or: [python]
        entry: make typescript-models
        language: system
        pass_filenames: false

python-format update
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

Adding double break before test function def
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

Add demo for this
  demo/components_list.py
  demo/main.py
  demo/shared.py
Due: python-format, python-typecheck, python-generate-ts

stop rendering to root
  src/npm-fastui-bootstrap/src/footer.tsx
  src/npm-fastui-prebuilt/index.html
  src/npm-fastui-prebuilt/src/main.scss
Due: js-prettier, js-lint, js-typecheck

revert prebuilt_html
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Added footer component (#61)
  demo/main.py
  demo/shared.py
  demo/tests.py
  src/npm-fastui-bootstrap/src/footer.tsx
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/components/footer.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add eslint plugin:react/recommended
  .eslintrc.cjs
  src/npm-fastui/src/components/CodeLazy.tsx
Due: js-prettier, js-lint, js-typecheck

add eslint extends `plugin:react/recommended` (#133)
  .eslintrc.cjs
  src/npm-fastui/src/components/CodeLazy.tsx
Due: js-prettier, js-lint, js-typecheck

add test
  demo/tests.py
  src/python-fastui/tests/test_json_schema.py
Due: python-format, python-typecheck, python-generate-ts

Fix issue with missing required field default value in Navbar JSON schema. (#130)
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/test_json_schema.py
Due: python-format, python-typecheck, python-generate-ts

remove `data_model` argument
  README.md
Due: js-prettier

Added data_model=User (#124)
  README.md
Due: js-prettier

Error improvements
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui-prebuilt/vite.config.ts
  src/npm-fastui/src/components/Custom.tsx
  src/npm-fastui/src/components/error.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/hooks/error.tsx
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

uprev and release npm
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

uprev python package
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Added textarea form field
  demo/forms.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Added test for FormFieldTextarea
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Added support for nested models and arrays in DisplayLookup
  demo/tables.py
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/components/table.tsx
  src/npm-fastui/src/tools.ts
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix scalar as list with multi selects
  demo/forms.py
Due: python-format, python-typecheck, python-generate-ts

add test for validation method
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

get test post values dynamically and not hard-coded
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

Fixed modal close
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

feat(FormFieldInput): add missing placeholder
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

working closeButton in Modal
  src/npm-fastui-bootstrap/src/modal.tsx
Due: js-prettier, js-lint, js-typecheck

first commit
  demo/components_list.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix-148
  demo/components_list.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fixed issue on multi select field while selecting single item
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck, python-generate-ts

stream tinyllama output
  demo/__init__.py
  demo/ollama.py
  demo/shared.py
  demo/sse.py
Due: python-format, python-typecheck, python-generate-ts

changed the condition to make existing test cases passed
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck, python-generate-ts

fix: support finding initial value from a list of values
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix: use python3.8 compatible list[str]
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, python-generate-ts

feat(FormField): accept className
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

feat(FormFields): accept className
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

Fix for #148: open links in new tab (#157)
  demo/components_list.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Error improvements (#137)
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui-prebuilt/vite.config.ts
  src/npm-fastui/src/components/Custom.tsx
  src/npm-fastui/src/components/error.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/hooks/error.tsx
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Added textarea as form field (#139)
  demo/forms.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix: support finding initial value from a list of values (#161)
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

rename to "named_style"
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

change secondary color in prebuilt
  src/npm-fastui-prebuilt/src/main.scss
Due: none

Add named styles to buttons (#108)
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts
