Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: python-format
        name: python-format
        types_or: [python]
        entry: make format
        language: system
        pass_filenames: false
      - id: python-typecheck
        name: python-typecheck
        types_or: [python]
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: js-prettier
        name: js-prettier
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
        entry: npm run prettier
        language: system
      - id: js-lint
        name: js-lint
        types_or: [ts, tsx]
        entry: npm run lint-fix
        language: system
        pass_filenames: false
      - id: js-typecheck
        name: js-typecheck
        types_or: [ts, tsx]
        entry: npm run typecheck
        language: system
        pass_filenames: false

Add toast variant
  demo/components_list.py
  src/npm-fastui/src/events.ts
  src/python-fastui/fastui/events.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Fix variant type
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck

Changed pydantic to _p
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Tiny type in README
  README.md
Due: js-prettier

Tiny typo in README (#98)
  README.md
Due: js-prettier

Add docs for toast
  demo/components_list.py
  demo/main.py
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck

Refactor the definition of default value
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck

Add video component (#71)
  demo/components_list.py
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/video.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fied Footer pydantic fields
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Authorization
  demo/__init__.py
  demo/auth.py
  demo/forms.py
  demo/shared.py
  src/npm-fastui/src/components/authorization.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/redirect.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

switch to AuthEvent
  Makefile
  demo/auth.py
  demo/forms.py
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/components/authorization.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/events.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/events.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix useEffect deps
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

simple database for users
  demo/auth.py
Due: python-format, python-typecheck

working on logout form
  Makefile
  demo/__init__.py
  demo/auth.py
  demo/components_list.py
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/form.tsx
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix tests
  demo/tests.py
  src/npm-fastui/src/components/FireEvent.tsx
  src/python-fastui/tests/react-fastui-json-schema.sh
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

using sqlite
  demo/auth.py
  demo/db.py
  demo/forms.py
Due: python-format, python-typecheck

tweaks
  demo/auth.py
  demo/db.py
  src/npm-fastui/src/components/ServerLoad.tsx
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

improve coverage
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

fixing form update
  .gitignore
  demo/auth.py
  src/npm-fastui-bootstrap/src/modal.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/modal.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/tools.ts
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

switch to libsql-client
  .gitignore
  demo/__init__.py
  demo/db.py
  src/python-fastui/requirements/render.txt
Due: python-format, python-typecheck

tweaking auth
  demo/auth.py
Due: python-format, python-typecheck

add libsql-client to test deps
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
Due: none

linting
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Authorisation (#93)
  .gitignore
  Makefile
  demo/__init__.py
  demo/auth.py
  demo/components_list.py
  demo/db.py
  demo/forms.py
  demo/shared.py
  demo/tests.py
  src/npm-fastui-bootstrap/src/modal.tsx
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/modal.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/requirements/render.txt
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/react-fastui-json-schema.sh
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

add video to demo index
  demo/main.py
Due: python-format, python-typecheck

uprev and release npm
  package-lock.json
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

switch SSE demo to use openai response
  demo/__init__.py
  demo/components_list.py
  demo/sse.py
Due: python-format, python-typecheck

tweaks
  demo/sse.py
Due: python-format, python-typecheck

OpenAI SSE demo (#103)
  demo/__init__.py
  demo/components_list.py
  demo/sse.py
Due: python-format, python-typecheck

Fix bytes rendered wrong
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Add more tests
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Generate TS interfaces from python
  gen_schema.py
  package-lock.json
  package.json
Due: python-format, python-typecheck, js-prettier

better schema generation
  gen_schema.py
Due: python-format, python-typecheck

Revert "revert to disciminated union for AnyComponent (#94)"
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

improved JSON schema generation
  gen_schema.py
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/components/table.tsx
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/fastui/types.py
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Update demo/shared.py
  demo/shared.py
Due: python-format, python-typecheck

Added Github as footer link
  demo/shared.py
Due: python-format, python-typecheck

Removed horizontal line in footer
  src/npm-fastui-bootstrap/src/footer.tsx
Due: js-prettier, js-lint, js-typecheck

Applied linting
  demo/shared.py
  demo/tests.py
Due: python-format, python-typecheck

Fixed demo tests
  demo/tests.py
Due: python-format, python-typecheck
