Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

python-generate-ts:
  name: python-generate-ts
  entry: make typescript-models
  language: system
  pass_filenames: false

actually, minor release worthy
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Actually, bump to v0.7.0 (#348)
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

[fix] initialContext is assigned the value of event.context
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

fix
  docs/api/python_components.md
  src/npm-fastui/src/components/DarkMode.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

feat: add toast delay property
  demo/components_list.py
  src/npm-fastui-bootstrap/src/toast.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

pre-commit autoupdate 2024-10-16
  .pre-commit-config.yaml
  pyproject.toml
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/requirements/lint.txt
  src/python-fastui/tests/test_components.py
Due: python-format, python-typecheck, python-generate-ts

fix: select invalid message
  src/npm-fastui-bootstrap/src/index.tsx
Due: js-prettier, js-lint, js-typecheck

feat: support locked fields
  demo/forms.py
  src/npm-fastui/src/components/form.tsx
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix: GoToEvent query param
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

Refactor by splitting the files
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/any_component.py
  src/python-fastui/fastui/components/basic.py
  src/python-fastui/fastui/components/containers.py
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, python-generate-ts

Fix the pyright error
  package-lock.json
  src/python-fastui/fastui/components/basic.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

GitHub Actions: Add Python 3.13 to the testing
  .github/workflows/ci.yml
Due: none

Rebuild models if necessary
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, python-generate-ts

More compat
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

add inactive message to readme
  README.md
Due: js-prettier

Remove unecessary defer build
  src/python-fastui/fastui/components/display.py
Due: python-format, python-typecheck, python-generate-ts

bump json-schema-to-typescript
  package-lock.json
  package.json
Due: js-prettier

Regenerate models
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

Add note
  src/python-fastui/fastui/generate_typescript.py
Due: python-format, python-typecheck, python-generate-ts

Fix compatibility with Pydantic 2.10 (#377)
  package-lock.json
  package.json
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/generate_typescript.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Update supported Python versions, add support for Pydantic 2.11
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/types.py
  src/python-fastui/pyproject.toml
  src/python-fastui/requirements/pyproject.txt
Due: python-format, python-typecheck, python-generate-ts

Auto lint
  demo/sse.py
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/fastui/types.py
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Update supported Python versions, add support for Pydantic 2.11 (#379)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  demo/sse.py
  pyproject.toml
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/fastui/types.py
  src/python-fastui/pyproject.toml
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Prepare release v0.8.0
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Prepare release v0.8.0 (#380)
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Add support for Python 3.14, update dependencies
  package-lock.json
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/pyproject.toml
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.txt
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_dev.py
  src/python-fastui/tests/test_json_schema.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Drop 3.9
  .github/workflows/ci.yml
  pyproject.toml
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/dev.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/pyproject.toml
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Prepare release 0.9.0
  package-lock.json
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

feat(table): support dataclasses and TypedDicts in Table component
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

Add Radio and Toggle form fields
  src/npm-fastui-bootstrap/src/Radio.tsx
  src/npm-fastui-bootstrap/src/Toggle.tsx
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/generate_typescript.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  python-generate-ts: any of: \.py$
