Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: python-format
        name: python-format
        types_or: [python]
        entry: make format
        language: system
        pass_filenames: false
      - id: python-typecheck
        name: python-typecheck
        types_or: [python]
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: js-prettier
        name: js-prettier
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
        entry: npm run prettier
        language: system
      - id: js-lint
        name: js-lint
        types_or: [ts, tsx]
        entry: npm run lint-fix
        language: system
        pass_filenames: false
      - id: js-typecheck
        name: js-typecheck
        types_or: [ts, tsx]
        entry: npm run typecheck
        language: system
        pass_filenames: false
      - id: python-generate-ts
        name: python-generate-ts
        types_or: [python]
        entry: make typescript-models
        language: system
        pass_filenames: false

moving docs update to workflow
  .github/workflows/docs-update.yml
Due: none

Trying to get docs site deploy working (#288)
  .github/workflows/docs-update.yml
Due: none

taking out unneeded line
  .github/workflows/docs-update.yml
Due: none

Remove line not used (#289)
  .github/workflows/docs-update.yml
Due: none

remove workflow, now deploying from main
  .github/workflows/docs-update.yml
Due: none

remove workflow, now deploying from main (#290)
  .github/workflows/docs-update.yml
Due: none

remove mentions of mike
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
Due: none

Begone, `mike`! (#291)
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
Due: none

fix: Table data_model error message.
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

use alias generator
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/shared_base.py
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

move to outer base
  src/python-fastui/fastui/base.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

using higher level base model
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, python-generate-ts

fix all the tests I broke :)
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

removing mkdocstrings[python] from docs deps in docs.in
  requirements/docs.in
  requirements/docs.txt
Due: none

docs updates
  .github/workflows/ci.yml
  Makefile
  README.md
  build-docs.sh
Due: js-prettier

other docs updates
  Makefile
  docs/api/typescript_components.md
Due: js-prettier

link -> demo
  demo/main.py
Due: python-format, python-typecheck, python-generate-ts

Use `AliasGenerator` for `camelCase` serialization aliases (#296)
  src/python-fastui/fastui/base.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, python-generate-ts

Add docs link to demo, disable typescript docs for now (#299)
  .github/workflows/ci.yml
  Makefile
  README.md
  build-docs.sh
  demo/main.py
  docs/api/typescript_components.md
Due: python-format, python-typecheck, js-prettier, python-generate-ts

version bump and publish
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

bump version
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Prep for 0.6.0 release (#300)
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

treat object as component
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

add image component to table
  demo/tables.py
Due: python-format, python-typecheck, python-generate-ts

added link to slack discussion channel in README
  README.md
Due: js-prettier

Fix placeholder on text inputs
  demo/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

allow nesting subcomponents in tables etc
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

use the #fastui channel link directly
  README.md
Due: js-prettier

added link to slack discussion channel in README (#302)
  README.md
Due: js-prettier

Ability to add more meta tags e.g. for seo
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

pass meta_extra by dict
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Add support for `computed_field` in `Table` component.
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Remove trailing-whitespace
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Lint
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Remove ending commas
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Linted and formatted with make commands.
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Add title to computed_field for coverage.
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Support default_factory in form fields.
  demo/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Make bool form fields optional.
  demo/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

revert demo form
  demo/forms.py
Due: python-format, python-typecheck, python-generate-ts
