Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

fix pdn lock
  package-lock.json
Due: js-prettier

add tests for required properties
  package.json
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/form.tsx
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

add generate-json-schema to pre-commit, take 2
  .pre-commit-config.yaml
  package.json
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/react-fastui-json-schema.sh
Due: js-prettier

fix tests
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

fix tests for older python
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

correct coverage file
  pyproject.toml
Due: none

JSON schema tests (#70)
  .pre-commit-config.yaml
  package-lock.json
  package.json
  pyproject.toml
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/Iframe.tsx
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/heading.tsx
  src/npm-fastui/src/components/image.tsx
  src/npm-fastui/src/components/pagination.tsx
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/react-fastui-json-schema.sh
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

docs: fix typo (#79)
  demo/main.py
Due: python-format, python-typecheck

fix release ci job
  .github/workflows/ci.yml
Due: none

uprev vite, fix Image component
  demo/components_list.py
  package-lock.json
  src/npm-fastui-prebuilt/package.json
Due: python-format, python-typecheck, js-prettier

add basic tests to demo site
  demo/tests.py
  pyproject.toml
Due: python-format, python-typecheck

test demo only on 3.11 & 3.12
  .github/workflows/ci.yml
Due: none

fix demo tests
  Makefile
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
Due: none

fix demo tests, take 2
  .github/workflows/ci.yml
Due: none

fix demo tests, take 3
  .github/workflows/ci.yml
Due: none

add basic tests to demo site (#87)
  .github/workflows/ci.yml
  Makefile
  demo/tests.py
  pyproject.toml
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
Due: python-format, python-typecheck

Made Footer extraText a string
  demo/shared.py
  src/npm-fastui-bootstrap/src/footer.tsx
  src/npm-fastui/src/components/footer.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

support Custom components, fix #19
  .eslintrc.cjs
  .github/workflows/ci.yml
  .prettierignore
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui/src/components/Code.tsx
  src/npm-fastui/src/components/Custom.tsx
  src/npm-fastui/src/components/Json.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/hooks/error.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Fixed class_name field in footer
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Made tests pass
  demo/tests.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

fix for <3.10
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

tweaks
  demo/components_list.py
  src/npm-fastui/src/components/Custom.tsx
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

support `Custom` components (#88)
  .eslintrc.cjs
  .github/workflows/ci.yml
  .prettierignore
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui/src/components/Code.tsx
  src/npm-fastui/src/components/Custom.tsx
  src/npm-fastui/src/components/Json.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/hooks/error.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

cleanup components listed in demo
  README.md
  demo/main.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier

add test to ci check
  .github/workflows/ci.yml
Due: none

revert, add back __all__ to components
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

tweak __all__ again
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

cleanup components listed in demo (#89)
  .github/workflows/ci.yml
  README.md
  demo/main.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier

uprev and release npm
  package-lock.json
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

testing package build
  .github/workflows/ci.yml
Due: none

prepare release job
  .github/workflows/ci.yml
Due: none

Fix python package release (#90)
  .github/workflows/ci.yml
Due: none

Fix video autoplay
  demo/components_list.py
Due: python-format, python-typecheck

revert to disciminated union for AnyComponent
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

fix JSON Schema tests
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

revert to disciminated union for AnyComponent (#94)
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

update Paragraph, Button & Text support just str
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

update FormattedText.tsx
  src/npm-fastui/src/components/FormattedText.tsx
Due: js-prettier, js-lint, js-typecheck

fix demo FormattedText
  demo/components_list.py
Due: python-format, python-typecheck

Add basic toast example
  demo/components_list.py
  package-lock.json
  src/npm-fastui/package.json
  src/npm-fastui/src/controller.tsx
  src/npm-fastui/src/events.ts
  src/python-fastui/fastui/events.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
