Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

python-generate-ts:
  name: python-generate-ts
  entry: make typescript-models
  language: system
  pass_filenames: false

fix: yield form in fastui_form to keep file handler open
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck, python-generate-ts

add asynccontextmanager to run_fastui_form
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck, python-generate-ts

update tests
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

updating dependencies
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.txt
Due: none

init add formfieldradio
  demo/forms.py
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add coverage repoet with --fail-under
  .github/workflows/ci.yml
Due: none

add debug=trace
  .github/workflows/ci.yml
Due: none

install with -e
  .github/workflows/ci.yml
Due: none

remove debug=trace
  .github/workflows/ci.yml
Due: none

updating dependencies (#175)
  .github/workflows/ci.yml
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.txt
Due: none

allow APIRootUrl APIPathMode and APIPathStrip to be set in prebuilt
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/dev.tsx
  src/npm-fastui/src/hooks/config.ts
  src/npm-fastui/src/index.tsx
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

some fixes
  demo/forms.py
  src/npm-fastui/src/components/FormField.tsx
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add to bootstrap package
  src/npm-fastui-bootstrap/src/index.tsx
Due: js-prettier, js-lint, js-typecheck

add test for radio
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

add tests for select choices forms
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

fix tests
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

type needs to be 3.8 compat
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

fix 3.8 and add tests
  src/python-fastui/fastui/__init__.py
  src/python-fastui/tests/test_prebuilt_html.py
Due: python-format, python-typecheck, python-generate-ts

allow `APIRootUrl`, `APIPathMode` and `APIPathStrip` to be set in prebuilt (#176)
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/dev.tsx
  src/npm-fastui/src/hooks/config.ts
  src/npm-fastui/src/index.tsx
  src/python-fastui/fastui/__init__.py
  src/python-fastui/tests/test_prebuilt_html.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add get_github_user_emails
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, python-generate-ts

simplify state provider, remove db
  demo/__init__.py
  demo/auth.py
  demo/auth_user.py
  demo/db.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, python-generate-ts

test create
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, python-generate-ts

add tests for github authentication
  demo/tests.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, python-generate-ts

working on GitHub auth
  demo/auth.py
  demo/db.py
  demo/shared.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/python-fastui/fastui/auth/__init__.py
  src/python-fastui/fastui/auth/github.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add pydantic-settings dependency
  src/python-fastui/requirements/render.txt
Due: none

update deps and demo wording
  demo/auth.py
  demo/main.py
  src/python-fastui/requirements/test.txt
Due: python-format, python-typecheck, python-generate-ts

fix for older python
  pyproject.toml
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, python-generate-ts

make PyJWT optional, install it
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/requirements/render.txt
  src/python-fastui/requirements/test.in
Due: python-format, python-typecheck, python-generate-ts

remove pydantic-settings
  demo/auth.py
  src/python-fastui/requirements/render.txt
Due: python-format, python-typecheck, python-generate-ts

fix autocomplete, fix component unloaded
  demo/auth.py
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

uprev frontend
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

GitHub auth provider (#174)
  demo/__init__.py
  demo/auth.py
  demo/auth_user.py
  demo/db.py
  demo/main.py
  demo/shared.py
  demo/tests.py
  pyproject.toml
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/package.json
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/auth/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/requirements/render.txt
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
  src/python-fastui/tests/test_auth_github.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add 345 response and exception to allow auth redirecting
  demo/__init__.py
  demo/auth.py
  demo/auth_user.py
  src/npm-fastui/src/components/ServerLoad.tsx
  src/python-fastui/fastui/auth/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

adding tests
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_auth_shared.py
Due: python-format, python-typecheck, python-generate-ts

uprev js
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
  uprev_npm_packages.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

tweaks to demo auth
  demo/auth.py
  demo/auth_user.py
Due: python-format, python-typecheck, python-generate-ts

fix demo from_request_opt
  demo/auth_user.py
Due: python-format, python-typecheck, python-generate-ts

use localStorage, generate auth link on click
  demo/auth.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/tools.ts
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

uprev frontend
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
  uprev_npm_packages.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  python-generate-ts: any of: \.py$
