Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

lint fixes
  package-lock.json
  python/requirements/all.txt
Due: js-prettier

installed buckaroo via npm
  package-lock.json
  package.json
Due: js-prettier

lint fix
  python/demo/README.md
Due: js-prettier

added pre-commit to lint requirements
  python/requirements/lint.txt
Due: none

Add Image component support
  packages/fastui/src/components/image.tsx
  packages/fastui/src/components/index.tsx
  python/demo/components_list.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Fix linting issues
  packages/fastui/src/components/image.tsx
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

first stab at js side of dfviewer component
  package-lock.json
  package.json
  packages/fastui/src/components/index.tsx
Due: js-prettier, js-lint, js-typecheck

Add referrepolicy and loading attribute to ImageProps
  packages/fastui/src/components/image.tsx
  python/demo/components_list.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix: user detail broken in demo (#59)
  python/demo/tables.py
Due: python-format, python-typecheck

fix: linting issue checked.
  python/demo/tables.py
Due: python-format, python-typecheck

fix: linting issue.
  python/demo/tables.py
Due: python-format, python-typecheck

Fix README typos (#49)
  README.md
Due: js-prettier

Fix compatibility issue with python <3.11 (#45)
  python/demo/forms.py
  python/fastui/components/display.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck

Added footer component
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/footer.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  python/demo/shared.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Update README.md
  README.md
Due: js-prettier

Fix typo in README.md (#62)
  README.md
Due: js-prettier

tweak fastui-boostrap
  packages/fastui-bootstrap/src/index.tsx
Due: js-prettier, js-lint, js-typecheck

fix checkbox display
  packages/fastui-bootstrap/src/index.tsx
  python/demo/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add toggle switches support (#46)
  README.md
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-prebuilt/src/main.scss
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/index.tsx
  python/demo/forms.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add Iframe Component support (#47)
  packages/fastui/src/components/Iframe.tsx
  packages/fastui/src/components/index.tsx
  python/demo/components_list.py
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

tweak advice in readme
  python/demo/README.md
Due: js-prettier

remove pre-commit from lint.txt
  python/requirements/lint.txt
Due: none

feat/demo-running-instructions (#56)
  package-lock.json
  python/demo/README.md
  python/requirements/all.txt
Due: js-prettier

fix: users multiple define, added fields to handle display fields explicitly.
  python/demo/tables.py
Due: python-format, python-typecheck

Added note to footer component to README.md
  README.md
Due: js-prettier

Fix linting issues
  python/fastui/components/__init__.py
Due: python-format, python-typecheck

Made extraText camelcase in frontend
  packages/fastui/src/components/footer.tsx
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add Image component support (#57)
  packages/fastui/src/components/image.tsx
  packages/fastui/src/components/index.tsx
  python/demo/components_list.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

moving python code into packages
  Makefile
  demo/README.md
  demo/__init__.py
  demo/cities.json
  demo/components_list.py
  demo/forms.py
  demo/main.py
  demo/shared.py
  demo/tables.py
  packages/python-fastui/LICENSE
  packages/python-fastui/README.md
  packages/python-fastui/fastui/__init__.py
  packages/python-fastui/fastui/class_name.py
  packages/python-fastui/fastui/components/__init__.py
  packages/python-fastui/fastui/components/display.py
  packages/python-fastui/fastui/components/forms.py
  packages/python-fastui/fastui/components/tables.py
  packages/python-fastui/fastui/dev.py
  packages/python-fastui/fastui/events.py
  packages/python-fastui/fastui/forms.py
  packages/python-fastui/fastui/json_schema.py
  packages/python-fastui/pyproject.toml
  packages/python-fastui/requirements/all.txt
  packages/python-fastui/requirements/lint.in
  packages/python-fastui/requirements/lint.txt
  packages/python-fastui/requirements/pyproject.txt
  packages/python-fastui/requirements/render.txt
  packages/python-fastui/tests/test_components.py
  pyproject.toml
Due: python-format, python-typecheck, js-prettier

adding tests
  .github/workflows/ci.yml
  .gitignore
  Makefile
  demo/forms.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/requirements/all.txt
  src/python-fastui/requirements/lint.txt
  src/python-fastui/requirements/pyproject.txt
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

fix paths
  src/UNKNOWN.egg-info/PKG-INFO
  src/UNKNOWN.egg-info/SOURCES.txt
  src/UNKNOWN.egg-info/dependency_links.txt
  src/UNKNOWN.egg-info/top_level.txt
  src/python-fastui/requirements/render.txt
Due: none

fix ci
  .github/workflows/ci.yml
Due: none

fixing types for 3.8
  Makefile
  demo/tables.py
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/dev.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

python 3.8 types
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck

fix ci, take 2
  .github/workflows/ci.yml
Due: none

remove future imports
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/forms.py
Due: python-format, python-typecheck

tweak imports
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/dev.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
