Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

add "." to requirements
  python/requirements/render.txt
Due: none

add "." to requirements, take 2
  python/requirements/render.txt
Due: none

updating npm packages
  packages/fastui-bootstrap/package.json
  packages/fastui-prebuilt/package.json
  packages/fastui/package.json
  pyproject.toml
  python/fastui/__init__.py
  python/requirements/pyproject.txt
Due: python-format, python-typecheck, js-prettier

fix form vanilla default, disable sse
  README.md
  python/demo/main.py
  python/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier

api 404
  python/demo/main.py
Due: python-format, python-typecheck

fix tables endpoints
  python/demo/__init__.py
  python/demo/main.py
Due: python-format, python-typecheck

:facepalm:
  python/demo/main.py
Due: python-format, python-typecheck

improve readme
  README.md
Due: js-prettier

tweak other readmes
  packages/fastui-prebuilt/README.md
  packages/fastui/README.md
Due: js-prettier

linting
  package-lock.json
  packages/fastui/src/Defaults.tsx
Due: js-prettier, js-lint, js-typecheck

improve the readme
  README.md
  screenshot.png
Due: js-prettier

Readme (#15)
  README.md
  package-lock.json
  packages/fastui-prebuilt/README.md
  packages/fastui/README.md
  packages/fastui/src/Defaults.tsx
  screenshot.png
Due: js-prettier, js-lint, js-typecheck

fix 404 page on back
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-prebuilt/package.json
  packages/fastui/package.json
  packages/fastui/src/components/ServerLoad.tsx
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix 404 page on back (#16)
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-prebuilt/package.json
  packages/fastui/package.json
  packages/fastui/src/components/ServerLoad.tsx
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

better demo code
  README.md
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/src/main.scss
  packages/fastui/package.json
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/tools.ts
  python/demo/__init__.py
  python/demo/components_list.py
  python/demo/forms.py
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

extend demo
  pyproject.toml
  python/demo/forms.py
  python/demo/main.py
  python/demo/shared.py
  python/fastui/forms.py
  python/fastui/json_schema.py
  python/requirements/pyproject.txt
Due: python-format, python-typecheck

Better demo (#17)
  README.md
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/src/main.scss
  packages/fastui/package.json
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/tools.ts
  pyproject.toml
  python/demo/__init__.py
  python/demo/components_list.py
  python/demo/forms.py
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/__init__.py
  python/fastui/forms.py
  python/fastui/json_schema.py
  python/requirements/pyproject.txt
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

uprev npm packages
  README.md
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-prebuilt/package.json
  packages/fastui/package.json
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

add link to the code from the demo
  python/demo/README.md
  python/demo/main.py
Due: python-format, python-typecheck, js-prettier

fix demois missing space
  python/demo/main.py
Due: python-format, python-typecheck

just remove the trailing slash
  python/demo/main.py
Due: python-format, python-typecheck

fix demois missing space (#26)
  python/demo/main.py
Due: python-format, python-typecheck

use mdash :eyes:, fix issue link
  README.md
Due: js-prettier

Typo fix in README
  README.md
Due: js-prettier

pHD -> PhD :sleeping:
  README.md
Due: js-prettier

Typo fix in README (#37)
  README.md
Due: js-prettier

Add Marquee HTML tag
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/marquee.tsx
  python/demo/components_list.py
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix (README.md): Markdown href link syntax
  packages/fastui-prebuilt/README.md
Due: js-prettier

Fix compatibility issue with python <3.11
  python/demo/forms.py
  python/fastui/components/display.py
  python/fastui/enums.py
Due: python-format, python-typecheck

fix (README.md): Markdown href link syntax (#44)
  packages/fastui-prebuilt/README.md
Due: js-prettier

Add toggle switches support
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/FormField.tsx
  python/demo/forms.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add Iframe Component support
  packages/fastui/src/components/Iframe.tsx
  packages/fastui/src/components/index.tsx
  python/demo/components_list.py
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Fix README typos.
  README.md
Due: js-prettier

Fix and change to FormFieldBoolean
  README.md
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-prebuilt/src/main.scss
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/index.tsx
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Applied requested changes
  python/demo/forms.py
  python/fastui/components/display.py
  python/fastui/enums.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck

Fix
  packages/fastui/src/components/Iframe.tsx
  python/demo/components_list.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Support tuples in forms.
  python/demo/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck

Fix linting.
  python/demo/forms.py
Due: python-format, python-typecheck

updated running instructions for the demo app
  python/demo/README.md
  python/requirements/all.txt
Due: js-prettier

lint fixes
  package-lock.json
  python/demo/README.md
Due: js-prettier

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
