Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

python-generate-ts:
  name: python-generate-ts
  entry: make typescript-models
  language: system
  pass_filenames: false

201 ok
  src/npm-fastui/src/components/form.tsx
Due: js-prettier, js-lint, js-typecheck

Refactor rename and update Recorder component and related models
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/MediaRecorder.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Make pagination query param configurable
  src/npm-fastui-bootstrap/src/pagination.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add `onchange` to props for field input and bool
  src/npm-fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

Fix display '0' on 'DisplayLookup'
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/components/table.tsx
Due: js-prettier, js-lint, js-typecheck

Fix display `0` on `DisplayLookup` (#274)
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/components/table.tsx
Due: js-prettier, js-lint, js-typecheck

Add toast component (#109)
  demo/components_list.py
  demo/main.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-bootstrap/src/toast.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/toast.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Make pagination query param configurable (#256)
  src/npm-fastui-bootstrap/src/pagination.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add `onchange` to props for field input and bool (#261)
  src/npm-fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

Fix GoToEvent link generation when value is None
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

change implementation
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

task: implement DisplayMarkdown
  demo/tables.py
  src/npm-fastui/src/components/display.tsx
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Fix GoToEvent link generation when value is None (#224)
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

initial docs infra
  .github/workflows/ci.yml
  Makefile
  build-docs.sh
  docs/assets/favicon.png
  docs/assets/logo-white.svg
  docs/components.md
  docs/extra/tweaks.css
  docs/guide.md
  docs/index.md
  docs/plugins.py
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
Due: python-format, python-typecheck, js-prettier, python-generate-ts

fix build docs link
  .github/workflows/ci.yml
Due: none

try to add permissions before running
  .github/workflows/ci.yml
Due: none

cleaner docs build
  .github/workflows/ci.yml
  build-docs.sh
Due: none

try upgrading pip
  .github/workflows/ci.yml
Due: none

fix syntax
  .github/workflows/ci.yml
Due: none

remove dep that was being annoying
  mkdocs.yml
  requirements/docs.in
  requirements/docs.txt
Due: none

remove index.md placeholder
  docs/index.md
Due: js-prettier

3.8 fix
  docs/index.md
  docs/plugins.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

slightly modified index.md
  docs/index.md
Due: js-prettier

version updates, working on linting
  package-lock.json
  package.json
Due: js-prettier

linting first pass
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/components.md
  docs/extra/tweaks.css
  docs/plugins.py
  mkdocs.yml
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Change CI to use `macos-13` for Python 3.8 and 3.9
  .github/workflows/ci.yml
Due: none

Change CI to use `macos-13` for Python 3.8 and 3.9 (#281)
  .github/workflows/ci.yml
Due: none

this is fastui, not dirty-equals, whoops
  mkdocs.yml
Due: none

Fix description for array-like fields
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

naming
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

trigger pipeline
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

Improve test and fix the second case of description leakage.
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

initial docstrings for basic components
  docs/components.md
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Fix description for array-like fields (#184)
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

adding docs build file
  build-docs.sh
Due: none

update docs-site logic and more docstrings
  .github/docs-update.yml
  .pre-commit-config.yaml
  build-docs.sh
  docs/components.md
  docs/plugins.py
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/types.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Get typescript docs working
  .github/docs-update.yml
  .github/workflows/ci.yml
  build-docs.sh
  docs/api/python_components.md
  docs/api/typescript_components.md
  mkdocs.yml
  package-lock.json
  package.json
  src/npm-fastui-bootstrap/typedoc.json
  src/npm-fastui-prebuilt/typedoc.json
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/typedoc.json
  typedoc.base.json
  typedoc.json
Due: js-prettier, js-lint, js-typecheck

guide general update
  docs/guide.md
Due: js-prettier

fixing linting
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

Add docs (#284)
  .github/docs-update.yml
  .pre-commit-config.yaml
  Makefile
  build-docs.sh
  docs/api/python_components.md
  docs/api/typescript_components.md
  docs/assets/favicon.png
  docs/assets/logo-white.svg
  docs/extra/tweaks.css
  docs/guide.md
  docs/index.md
  docs/plugins.py
  mkdocs.yml
  package-lock.json
  package.json
  requirements/docs.in
  requirements/docs.txt
  src/npm-fastui-bootstrap/typedoc.json
  src/npm-fastui-prebuilt/typedoc.json
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/typedoc.json
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/types.py
  typedoc.base.json
  typedoc.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  python-generate-ts: any of: \.py$
