Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

remove Row and Col, add password form field
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/div.tsx
  packages/fastui/src/components/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/components/extra.py
  python/fastui/components/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

move scss
  packages/vanilla/src/main.scss
  packages/vanilla/src/main.tsx
Due: js-prettier, js-lint, js-typecheck

Bootstrap (#5)
  .eslintrc.cjs
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/modal.tsx
  packages/fastui-bootstrap/src/navbar.tsx
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/Json.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/components/PageTitle.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/div.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.css
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/navbar.tsx
  packages/fastui/src/components/paragraph.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/hooks/className.ts
  packages/fastui/src/hooks/events.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  packages/vanilla/index.html
  packages/vanilla/src/main.scss
  packages/vanilla/src/main.tsx
  python/demo/main.py
  python/fastui/__init__.py
  python/fastui/components/__init__.py
  python/fastui/components/extra.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/events.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Markdown component
  package-lock.json
  packages/fastui-bootstrap/src/navbar.tsx
  packages/fastui/package.json
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/markdown.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

make markdown and code lazy
  packages/fastui/src/components/Code.tsx
  packages/fastui/src/components/CodeLazy.tsx
  packages/fastui/src/components/Markdown.tsx
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Markdown (#7)
  package-lock.json
  packages/fastui-bootstrap/src/navbar.tsx
  packages/fastui/package.json
  packages/fastui/src/components/Code.tsx
  packages/fastui/src/components/CodeLazy.tsx
  packages/fastui/src/components/Markdown.tsx
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/heading.tsx
  packages/fastui/src/components/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

react-select working
  package-lock.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/package.json
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

add isLoading
  packages/fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

countries search working
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

select-react on all options, allow multi
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/FormField.tsx
  python/demo/main.py
  python/fastui/components/forms.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

support search_url with multiple
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/index.tsx
  python/demo/main.py
  python/fastui/components/forms.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add `react-select` (#8)
  package-lock.json
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/package.json
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/components/forms.py
  python/fastui/forms.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

adding form tabs
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/hooks/locationContext.tsx
  python/demo/main.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

reconfigure router
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/navbar.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/dev.tsx
  packages/fastui/src/events.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

event context
  packages/fastui-bootstrap/src/modal.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/events.ts
  packages/fastui/src/hooks/eventContext.tsx
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

changable nested elements (#9)
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/modal.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/components/MarkdownLazy.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/components/button.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/modal.tsx
  packages/fastui/src/components/navbar.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/dev.tsx
  packages/fastui/src/events.ts
  packages/fastui/src/hooks/eventContext.tsx
  packages/fastui/src/hooks/events.ts
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
  python/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

support SSE for ServerLoad
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

support SSE for `ServerLoad` (#10)
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/controller.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

adding pagination
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/pagination.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/pagination.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/hooks/locationContext.tsx
  pyproject.toml
  python/demo/cities.json
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/components/__init__.py
  python/fastui/components/tables.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix query updating in events
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/pagination.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/pagination.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/events.ts
  packages/fastui/src/hooks/locationContext.tsx
  python/demo/tables.py
  python/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Pagination (#11)
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/pagination.tsx
  packages/fastui/src/components/LinkList.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/link.tsx
  packages/fastui/src/components/pagination.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/events.ts
  packages/fastui/src/hooks/locationContext.tsx
  pyproject.toml
  python/demo/cities.json
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/components/__init__.py
  python/fastui/components/tables.py
  python/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Details display
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/details.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/display.ts
  packages/fastui/src/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/__init__.py
  python/fastui/class_name.py
  python/fastui/components/__init__.py
  python/fastui/components/display.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

`Details` display (#12)
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/details.tsx
  packages/fastui/src/components/display.tsx
  packages/fastui/src/components/index.tsx
  packages/fastui/src/components/table.tsx
  packages/fastui/src/display.ts
  packages/fastui/src/index.tsx
  packages/fastui/src/tools.ts
  python/demo/main.py
  python/demo/shared.py
  python/demo/tables.py
  python/fastui/__init__.py
  python/fastui/class_name.py
  python/fastui/components/__init__.py
  python/fastui/components/display.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

custom spinner and 404 page
  packages/fastui/src/DefaultLoading.tsx
  packages/fastui/src/Defaults.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/hooks/config.ts
  packages/fastui/src/index.tsx
  packages/vanilla/src/App.tsx
  packages/vanilla/src/main.scss
  python/demo/main.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

inline form support
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/tools.ts
  python/demo/tables.py
  python/fastui/components/__init__.py
  python/fastui/components/display.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

inline form support (#13)
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/FormField.tsx
  packages/fastui/src/components/form.tsx
  packages/fastui/src/hooks/locationContext.tsx
  packages/fastui/src/tools.ts
  python/demo/tables.py
  python/fastui/components/__init__.py
  python/fastui/components/display.py
  python/fastui/components/forms.py
  python/fastui/components/tables.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

cleanup
  packages/fastui/src/components/form.tsx
  python/demo/tables.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

cleanup inline forms
  packages/fastui/src/components/form.tsx
  python/demo/tables.py
  python/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

customise theme slightly
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui-bootstrap/src/navbar.tsx
  packages/vanilla/src/App.tsx
  packages/vanilla/src/main.scss
  python/demo/main.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

releasing to npm
  package-lock.json
  package.json
  packages/fastui-bootstrap/LICENSE
  packages/fastui-bootstrap/README.md
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/tsconfig.json
  packages/fastui-prebuilt/LICENSE
  packages/fastui-prebuilt/README.md
  packages/fastui-prebuilt/index.html
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/src/App.tsx
  packages/fastui-prebuilt/src/main.scss
  packages/fastui-prebuilt/src/main.tsx
  packages/fastui-prebuilt/src/vite-env.d.ts
  packages/fastui-prebuilt/tsconfig.json
  packages/fastui-prebuilt/tsconfig.node.json
  packages/fastui-prebuilt/vite.config.ts
  packages/fastui/LICENSE
  packages/fastui/README.md
  packages/fastui/package.json
  packages/fastui/tsconfig.json
  packages/vanilla/package.json
  tsconfig.json
Due: js-prettier, js-lint, js-typecheck

fix ci
  .github/workflows/ci.yml
Due: none

make direct serving work
  Makefile
  README.md
  package.json
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/vite.config.ts
  packages/fastui/src/tools.ts
  pyproject.toml
  python/demo/__init__.py
  python/demo/main.py
  python/fastui/__init__.py
  python/fastui/dev.py
  python/fastui/forms.py
  python/requirements/pyproject.txt
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

match packages versions
  package-lock.json
  packages/fastui-bootstrap/package.json
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/vite.config.ts
  packages/fastui/package.json
  packages/fastui/src/tools.ts
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

cleanup
  packages/fastui-bootstrap/README.md
  packages/fastui-prebuilt/vite.config.ts
  packages/fastui/README.md
  python/demo/main.py
  python/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix js build
  package-lock.json
  packages/fastui-bootstrap/package.json
Due: js-prettier

releasing to npm (#14)
  .github/workflows/ci.yml
  Makefile
  README.md
  package-lock.json
  package.json
  packages/fastui-bootstrap/LICENSE
  packages/fastui-bootstrap/README.md
  packages/fastui-bootstrap/package.json
  packages/fastui-bootstrap/tsconfig.json
  packages/fastui-prebuilt/LICENSE
  packages/fastui-prebuilt/README.md
  packages/fastui-prebuilt/index.html
  packages/fastui-prebuilt/package.json
  packages/fastui-prebuilt/src/App.tsx
  packages/fastui-prebuilt/src/main.scss
  packages/fastui-prebuilt/src/main.tsx
  packages/fastui-prebuilt/src/vite-env.d.ts
  packages/fastui-prebuilt/tsconfig.json
  packages/fastui-prebuilt/tsconfig.node.json
  packages/fastui-prebuilt/vite.config.ts
  packages/fastui/LICENSE
  packages/fastui/README.md
  packages/fastui/package.json
  packages/fastui/src/tools.ts
  packages/fastui/tsconfig.json
  packages/vanilla/package.json
  pyproject.toml
  python/demo/__init__.py
  python/demo/main.py
  python/fastui/__init__.py
  python/fastui/dev.py
  python/fastui/forms.py
  python/requirements/pyproject.txt
  tsconfig.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

adding transitions
  packages/fastui-prebuilt/src/App.tsx
  packages/fastui-prebuilt/src/main.scss
  packages/fastui/src/Defaults.tsx
  packages/fastui/src/components/ServerLoad.tsx
  packages/fastui/src/index.tsx
Due: js-prettier, js-lint, js-typecheck

adding render requirements.txt
  requirements.txt
Due: none

adding render.txt requirements
  python/requirements/render.txt
Due: none

adding render.txt requirements, take 2
  requirements.txt
Due: none

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
