Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

python-generate-ts:
  name: python-generate-ts
  entry: make typescript-models
  language: system
  pass_filenames: false

bump python package
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

fix typing typo
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, python-generate-ts

fix page goto for page 1
  src/npm-fastui-bootstrap/src/pagination.tsx
Due: js-prettier, js-lint, js-typecheck

Improve test and fix the second case of description leakage.
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

naming
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Update README.md
  README.md
Due: js-prettier

init chart component - line chart
  demo/__init__.py
  demo/charts.py
  demo/shared.py
  demo/tests.py
  package-lock.json
  package.json
  src/npm-fastui/src/components/LineChart.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/charts.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

make height also possibily a string
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/charts.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

type ignore a line for now
  src/python-fastui/fastui/components/charts.py
Due: python-format, python-typecheck, python-generate-ts

add link to chart on demo landing page
  demo/main.py
Due: python-format, python-typecheck, python-generate-ts

make attribute name more pythonic
  demo/charts.py
  src/python-fastui/fastui/components/charts.py
Due: python-format, python-typecheck, python-generate-ts

move import to the top
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, python-generate-ts

tests
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Update README.md (#196)
  README.md
Due: js-prettier

Update README.md with railway deploy button
  README.md
Due: js-prettier

Keep GitHub Actions up to date with GitHub's Dependabot
  .github/dependabot.yml
Due: none

Fix typo discovered by codespell
  src/npm-fastui-bootstrap/package.json
Due: js-prettier

Fix typo discovered by codespell
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

Fix form constraints, take 5
  demo/forms.py
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Fix typos discovered by codespell (#213)
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

weekly --> monthly
  .github/dependabot.yml
Due: none

Keep GitHub Actions up to date with GitHub's Dependabot (#212)
  .github/dependabot.yml
Due: none

fix page goto for page 1 (#195)
  src/npm-fastui-bootstrap/src/pagination.tsx
Due: js-prettier, js-lint, js-typecheck

Fix importing of typing.Self
  demo/auth_user.py
Due: python-format, python-typecheck, python-generate-ts

Fix importing of typing.Self (#220)
  demo/auth_user.py
Due: python-format, python-typecheck, python-generate-ts

feat: add support for step
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

support older versions of python
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

fix: form field Enum overrides
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

tweak: python < 3.10 annotations
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

add google auth
  src/python-fastui/fastui/auth/google.py
  src/python-fastui/tests/test_auth_google.py
Due: python-format, python-typecheck, python-generate-ts

add google auth to package
  src/python-fastui/fastui/auth/__init__.py
Due: python-format, python-typecheck, python-generate-ts

add google ot auth endpoint / pages
  demo/auth.py
Due: python-format, python-typecheck, python-generate-ts

remove print statements
  src/python-fastui/fastui/auth/google.py
Due: python-format, python-typecheck, python-generate-ts

format tests
  src/python-fastui/tests/test_auth_google.py
Due: python-format, python-typecheck, python-generate-ts

lint demo
  demo/auth.py
Due: python-format, python-typecheck, python-generate-ts

actually gogle doesn't need state
  src/python-fastui/fastui/auth/google.py
  src/python-fastui/tests/test_auth_google.py
Due: python-format, python-typecheck, python-generate-ts

move more stuff to be shared
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/google.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/tests/test_auth_google.py
Due: python-format, python-typecheck, python-generate-ts

more coverage
  src/python-fastui/tests/test_auth_google.py
Due: python-format, python-typecheck, python-generate-ts

Add toast component
  demo/components_list.py
  demo/main.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-bootstrap/src/toast.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/toast.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Add MediaRecorder component
  src/npm-fastui/src/components/MediaRecorder.tsx
Due: js-prettier, js-lint, js-typecheck

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  python-generate-ts: any of: \.py$
