Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: python-format
        name: python-format
        types_or: [python]
        entry: make format
        language: system
        pass_filenames: false
      - id: python-typecheck
        name: python-typecheck
        types_or: [python]
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: js-prettier
        name: js-prettier
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
        entry: npm run prettier
        language: system
      - id: js-lint
        name: js-lint
        types_or: [ts, tsx]
        entry: npm run lint-fix
        language: system
        pass_filenames: false
      - id: js-typecheck
        name: js-typecheck
        types_or: [ts, tsx]
        entry: npm run typecheck
        language: system
        pass_filenames: false

fix new prs for older python
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

fix demo
  demo/tables.py
Due: python-format, python-typecheck

remove unnecessary fields
  demo/tables.py
Due: python-format, python-typecheck

fix: user detail broken in demo (#59) (#60)
  demo/tables.py
Due: python-format, python-typecheck

progress on rendering DFViewer
  packages/fastui/src/components/index.tsx
  python/demo/components_list.py
  python/fastui/components/DfViewer.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

add FormattedText component
  demo/components_list.py
  demo/main.py
  src/npm-fastui/src/components/FormattedText.tsx
  src/npm-fastui/src/components/index.tsx
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

minimally working initial example of dfviewer
  packages/fastui/src/components/index.tsx
  python/demo/__init__.py
  python/demo/components_list.py
  python/fastui/__init__.py
  python/fastui/components/DfViewer.py
  python/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

some cleanup of debugging statements and ugly diffs
  packages/fastui/src/components/index.tsx
  python/fastui/components/DfViewer.py
  python/requirements/all.txt
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Moved bootstrap-specific code out of generic footer
  packages/fastui-bootstrap/src/footer.tsx
  packages/fastui-bootstrap/src/index.tsx
  packages/fastui/src/components/footer.tsx
  packages/fastui/src/components/index.tsx
Due: js-prettier, js-lint, js-typecheck

Fixed imports
  packages/fastui-bootstrap/src/footer.tsx
  packages/fastui/src/components/index.tsx
Due: js-prettier, js-lint, js-typecheck

Fixed merge conflicts
  python/fastui/components/__init__.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Fixed merge conflicts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Fixed python typing hints in footer
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

patch(docs): fix-broken-demo-link
  demo/main.py
Due: python-format, python-typecheck

fixed link https://github.com/samuelcolvin/FastUI/tree/main/demo
  demo/main.py
Due: python-format, python-typecheck

Remove support for optionals.
  python/fastui/json_schema.py
Due: python-format, python-typecheck

Add submitting.
  python/fastui/forms.py
Due: python-format, python-typecheck

Update demo for optionals update.
  python/demo/forms.py
Due: python-format, python-typecheck

Revert unrelated changes.
  python/demo/forms.py
Due: python-format, python-typecheck

Remove unrelated changes.
  python/fastui/json_schema.py
Due: python-format, python-typecheck

Use pytest-asyncio.
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Add pytest-asyncio dependency.
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
Due: none

remove warning and asyncio decorators
  pyproject.toml
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Use pytest-asyncio (#77)
  pyproject.toml
  src/python-fastui/requirements/test.in
  src/python-fastui/requirements/test.txt
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Fix Broken Link (#76)
  demo/main.py
Due: python-format, python-typecheck

uprev npm packages
  package-lock.json
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

uprev npm packages (#78)
  package-lock.json
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

fix '|' to _t.Union[]
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

update text type Button & Paragraph
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

update demo FormattedText
  demo/components_list.py
Due: python-format, python-typecheck

ref bug with Pydantic
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

moving from samuelcolvin -> pydantic org
  README.md
  demo/main.py
  src/npm-fastui-bootstrap/README.md
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/README.md
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/README.md
  src/npm-fastui/package.json
  src/python-fastui/README.md
  src/python-fastui/pyproject.toml
Due: python-format, python-typecheck, js-prettier

Add video component
  demo/components_list.py
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/video.tsx
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

docs: fix typo
  demo/main.py
Due: python-format, python-typecheck

IP json schema tests, #18
  package-lock.json
  package.json
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier

fixing more cases
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck

tests passing!
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/Iframe.tsx
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/heading.tsx
  src/npm-fastui/src/components/image.tsx
  src/npm-fastui/src/components/pagination.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/events.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

make AnyComponent a TypeAliasType
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck
