Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: local
    hooks:
      - id: python-format
        name: python-format
        types_or: [python]
        entry: make format
        language: system
        pass_filenames: false
      - id: python-typecheck
        name: python-typecheck
        types_or: [python]
        entry: make typecheck
        language: system
        pass_filenames: false
      - id: js-prettier
        name: js-prettier
        types_or: [javascript, jsx, ts, tsx, css, json, markdown]
        entry: npm run prettier
        language: system
      - id: js-lint
        name: js-lint
        types_or: [ts, tsx]
        entry: npm run lint-fix
        language: system
        pass_filenames: false
      - id: js-typecheck
        name: js-typecheck
        types_or: [ts, tsx]
        entry: npm run typecheck
        language: system
        pass_filenames: false
      - id: python-generate-ts
        name: python-generate-ts
        types_or: [python]
        entry: make typescript-models
        language: system
        pass_filenames: false

Add support for `computed_field` in `Table` component. (#321)
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

preferential refactor
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

Minor refactor for computed fields in tables (#325)
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

Respect computed_field title in Table and Details
  src/python-fastui/fastui/components/display.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Allow Display in Details
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/display.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Respect computed_field title in Details (#306)
  src/python-fastui/fastui/components/display.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

Fix placeholder on text inputs (#304)
  demo/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Allow nesting subcomponents like Images inside of Tables, Details, etc. (#308)
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

task: implement DisplayMarkdown (#279)
  demo/tables.py
  src/npm-fastui/src/components/display.tsx
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix scalar as list with multi selects (#141)
  demo/forms.py
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

Update src/python-fastui/tests/test_tables_display.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, python-generate-ts

comment out broken test
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

Allow Display in Details (#326)
  demo/tests.py
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/display.py
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

comments
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

restore this file
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

fixup test
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Add use-uv to the behavior
  demo/pyproject.toml
  pyproject.toml
  src/python-fastui/pyproject.toml
Due: none

Setup rye on ci/cd
  .github/workflows/ci.yml
Due: none

Skip CI on draft PRs
  .github/workflows/ci.yml
Due: none

Clean leftover pdm stuff
  .gitignore
  demo/pyproject.toml
  src/python-fastui/pyproject.toml
Due: none

Update ci to pin python version
  .github/workflows/ci.yml
Due: none

Change pdm to rye
  .gitignore
  Makefile
  demo/pdm.lock
  demo/pyproject.toml
  demo/requirements-dev.lock
  demo/requirements.lock
  pyproject.toml
  src/python-fastui/pdm.lock
  src/python-fastui/pyproject.toml
  src/python-fastui/requirements-dev.lock
  src/python-fastui/requirements.lock
Due: none

Fixed type issues and left detailed comments for unresolved issues
  demo/pyproject.toml
  demo/src/auth_user.py
  demo/src/components_list.py
  demo/src/forms.py
  demo/src/sse.py
  demo/src/tables.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_components.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

feat(FormFields): accept className
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

feat: add support for step
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix: form field Enum overrides
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

support older versions of python
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

tweak: python < 3.10 annotations
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

Sync fork with upstream
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

Fix pylint warning `raise-missing-from`
  demo/auth_user.py
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck, python-generate-ts

add dropdown to navbar via
  demo/shared.py
  demo/tests.py
  src/npm-fastui-bootstrap/src/navbar.tsx
  src/npm-fastui/src/components/navbar.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix linting
  package-lock.json
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

fix type annotations using Union
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Add `currency` to `DisplayMode`
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Add `currency` to `DisplayMode` (#345)
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/display.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

v-bump-for-patch
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Bump versions to prep for v0.6.1 release (#347)
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts
