Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

python-generate-ts:
  name: python-generate-ts
  entry: make typescript-models
  language: system
  pass_filenames: false

uprev frontend, again to 0.0.19
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

fix bump_npm.py
  bump_npm.py
Due: python-format, python-typecheck, python-generate-ts

Add 345 response support and exception to allow auth redirecting (#180)
  bump_npm.py
  demo/__init__.py
  demo/auth.py
  demo/auth_user.py
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/auth/__init__.py
  src/python-fastui/fastui/auth/github.py
  src/python-fastui/fastui/auth/shared.py
  src/python-fastui/tests/test_auth_github.py
  src/python-fastui/tests/test_auth_shared.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add end_links to Navbar
  demo/shared.py
  src/npm-fastui-bootstrap/src/navbar.tsx
  src/npm-fastui/src/components/navbar.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

fix demo tests
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

remove remaining devtools
  demo/tests.py
Due: python-format, python-typecheck, python-generate-ts

bump npm packages
  bump_npm.py
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Add `end_links` to `Navbar` (#181)
  bump_npm.py
  demo/shared.py
  demo/tests.py
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-bootstrap/src/navbar.tsx
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/npm-fastui/src/components/navbar.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

make spinner a component
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/Defaults.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/spinner.tsx
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

tweak classes
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/spinner.tsx
Due: js-prettier, js-lint, js-typecheck

make spinner a component (#182)
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/Defaults.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/spinner.tsx
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

support modal prompts
  demo/components_list.py
  demo/forms.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

use components for loading form
  demo/components_list.py
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

remove unused field
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

uprev npm and release
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Modal prompt (#183)
  demo/components_list.py
  demo/forms.py
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/package.json
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/__init__.py
  src/python-fastui/fastui/components/forms.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

uprev and correct license
  LICENSE
  src/npm-fastui-bootstrap/LICENSE
  src/npm-fastui-prebuilt/LICENSE
  src/npm-fastui/LICENSE
  src/python-fastui/LICENSE
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, python-generate-ts

Fix description for array-like fields
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck, python-generate-ts

make option logic computation only once
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

raise if multiple and radio
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, python-generate-ts

remove duplication in react component
  src/npm-fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

add bootstrap classes for radio buttons
  src/npm-fastui-bootstrap/src/index.tsx
Due: js-prettier, js-lint, js-typecheck

lint js
  src/npm-fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

fix demo by having radio below multiple
  demo/forms.py
Due: python-format, python-typecheck, python-generate-ts

add `autocomplete` to `textarea` and `select`
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

run prettier
  src/npm-fastui/src/components/FormField.tsx
Due: js-prettier, js-lint, js-typecheck

add srcdoc and sandbox to iframe component
  src/npm-fastui/src/components/Iframe.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

add test for iframe component
  src/python-fastui/tests/test_components.py
Due: python-format, python-typecheck, python-generate-ts

lint
  src/python-fastui/tests/test_components.py
Due: python-format, python-typecheck, python-generate-ts

lint again
  src/python-fastui/tests/test_components.py
Due: python-format, python-typecheck, python-generate-ts

add next_event to PageEvent
  demo/auth.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

SSE using @microsoft/fetch-event-source so we can post and control more
  demo/sse.py
  package-lock.json
  src/npm-fastui/package.json
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

remove log statement
  src/npm-fastui/src/events.ts
Due: js-prettier, js-lint, js-typecheck

Add `PageEvent.next_event` (#192)
  demo/auth.py
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

Iframe srcdoc and sandbox (#191)
  src/npm-fastui/src/components/Iframe.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/test_components.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

remove autocomplete from select search
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

refactor SSE
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/tools.ts
Due: js-prettier, js-lint, js-typecheck

add `autocomplete` to `textarea` and `select` (#190)
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/json_schema.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

SSE using `@microsoft/fetch-event-source` so we can post and control more (#193)
  demo/sse.py
  package-lock.json
  src/npm-fastui/package.json
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/models.d.ts
  src/npm-fastui/src/tools.ts
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck, python-generate-ts

bump npm packages
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, python-generate-ts

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
  python-generate-ts: any of: \.py$
