Repository pydantic/FastUI: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

python-format:
  name: python-format
  entry: make format
  language: system
  pass_filenames: false

python-typecheck:
  name: python-typecheck
  entry: make typecheck
  language: system
  pass_filenames: false

js-prettier:
  name: js-prettier
  entry: npm run prettier
  language: system

js-lint:
  name: js-lint
  entry: npm run lint-fix
  language: system
  pass_filenames: false

js-typecheck:
  name: js-typecheck
  entry: npm run typecheck
  language: system
  pass_filenames: false

use ts types defined from python
  gen_schema.py
  src/npm-fastui/src/components/Code.tsx
  src/npm-fastui/src/components/CodeLazy.tsx
  src/npm-fastui/src/components/Custom.tsx
  src/npm-fastui/src/components/FireEvent.tsx
  src/npm-fastui/src/components/FormField.tsx
  src/npm-fastui/src/components/Iframe.tsx
  src/npm-fastui/src/components/Json.tsx
  src/npm-fastui/src/components/LinkList.tsx
  src/npm-fastui/src/components/Markdown.tsx
  src/npm-fastui/src/components/MarkdownLazy.tsx
  src/npm-fastui/src/components/PageTitle.tsx
  src/npm-fastui/src/components/ServerLoad.tsx
  src/npm-fastui/src/components/button.tsx
  src/npm-fastui/src/components/details.tsx
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/components/div.tsx
  src/npm-fastui/src/components/form.tsx
  src/npm-fastui/src/components/heading.tsx
  src/npm-fastui/src/components/image.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/components/link.tsx
  src/npm-fastui/src/components/modal.tsx
  src/npm-fastui/src/components/navbar.tsx
  src/npm-fastui/src/components/pagination.tsx
  src/npm-fastui/src/components/paragraph.tsx
  src/npm-fastui/src/components/table.tsx
  src/npm-fastui/src/components/text.tsx
  src/npm-fastui/src/components/video.tsx
  src/npm-fastui/src/events.ts
  src/npm-fastui/src/hooks/className.ts
  src/npm-fastui/src/hooks/config.ts
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.ts
  src/python-fastui/fastui/class_name.py
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/types.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix fastui-bootstrap
  gen_schema.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-bootstrap/src/modal.tsx
  src/npm-fastui-bootstrap/src/navbar.tsx
  src/npm-fastui-bootstrap/src/pagination.tsx
  src/npm-fastui-bootstrap/tsconfig.json
  src/npm-fastui/src/components/display.tsx
  src/npm-fastui/src/components/index.tsx
  src/npm-fastui/src/hooks/className.ts
  src/npm-fastui/src/index.tsx
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/display.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

switch to python CLI
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/__main__.py
  src/python-fastui/fastui/generate_typescript.py
  src/python-fastui/pyproject.toml
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

remove old json-schema tests
  .pre-commit-config.yaml
  package-lock.json
  package.json
  src/python-fastui/tests/react-fastui-json-schema.json
  src/python-fastui/tests/react-fastui-json-schema.sh
  src/python-fastui/tests/test_json_schema_match.py
Due: python-format, python-typecheck, js-prettier

cleanup
  .github/workflows/ci.yml
  src/npm-fastui-bootstrap/tsconfig.json
  src/npm-fastui/src/components/display.tsx
Due: js-prettier, js-lint, js-typecheck

omit from coverage
  pyproject.toml
Due: none

add basic tests
  src/python-fastui/fastui/generate_typescript.py
  src/python-fastui/tests/test_json_schema.py
Due: python-format, python-typecheck

make ModelForm not generic
  demo/auth.py
  demo/forms.py
  demo/tables.py
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

making table and display not generic
  demo/tables.py
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/py.typed
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/fastui/py.typed
Due: python-format, python-typecheck

fix tests for older python
  src/python-fastui/fastui/components/forms.py
  src/python-fastui/fastui/generate_typescript.py
Due: python-format, python-typecheck

tests for tables
  src/python-fastui/fastui/components/tables.py
  src/python-fastui/tests/test_tables.py
Due: python-format, python-typecheck

more tests
  src/python-fastui/tests/test_tables_display.py
Due: python-format, python-typecheck

use SerializeAsAny
  src/python-fastui/fastui/components/display.py
  src/python-fastui/fastui/components/tables.py
Due: python-format, python-typecheck

Support dark mode
  demo/shared.py
  src/npm-fastui-bootstrap/src/DarkMode.tsx
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui/src/components/DarkMode.tsx
  src/npm-fastui/src/components/index.tsx
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/tests/react-fastui-json-schema.json
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Demonstrate how users might be able to work custom types into generated JSON schema type-safely
  src/npm-fastui/src/models.d.ts
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/custom1.py
  src/python-fastui/fastui/custom2.py
  src/python-fastui/fastui/events.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Update models.d.ts
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

Fix some issues
  src/python-fastui/fastui/components/__init__.py
  src/python-fastui/fastui/custom1.py
Due: python-format, python-typecheck

add and fix tests
  demo/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

require a magic response for dev reload server to reconnect
  src/npm-fastui/src/dev.tsx
  src/python-fastui/fastui/dev.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

test for dev server
  src/npm-fastui/src/dev.tsx
  src/python-fastui/fastui/dev.py
  src/python-fastui/tests/test_dev.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

require a magic response for dev reload server to reconnect (#115)
  src/npm-fastui/src/dev.tsx
  src/python-fastui/fastui/dev.py
  src/python-fastui/tests/test_dev.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix types for older python
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

Support tuples in forms (#52)
  demo/forms.py
  src/python-fastui/fastui/forms.py
  src/python-fastui/fastui/json_schema.py
  src/python-fastui/tests/test_forms.py
Due: python-format, python-typecheck

uprev npm deps
  src/npm-fastui-bootstrap/package.json
  src/npm-fastui-prebuilt/package.json
  src/npm-fastui/package.json
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier

Changed Table[User] to use data_model=User
  README.md
Due: js-prettier

fix packages lock and new make command
  .pre-commit-config.yaml
  Makefile
  package-lock.json
Due: js-prettier

fix packages lock and new make command (#119)
  .pre-commit-config.yaml
  Makefile
  package-lock.json
Due: js-prettier

Added sample from README. It includes __init__.py which is required.
  Makefile
  sample/__init__.py
  sample/main.py
Due: python-format, python-typecheck

Fixed lint error
  README.md
Due: js-prettier

Revert "Added sample from README. It includes __init__.py which is required."
  Makefile
  sample/__init__.py
  sample/main.py
Due: python-format, python-typecheck

fix possitioning
  demo/shared.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/npm-fastui-prebuilt/index.html
  src/npm-fastui-prebuilt/src/App.tsx
  src/npm-fastui-prebuilt/src/main.scss
  src/npm-fastui/src/index.tsx
  src/python-fastui/fastui/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

fix tests
  demo/main.py
  demo/tests.py
  src/npm-fastui-bootstrap/src/footer.tsx
  src/npm-fastui-bootstrap/src/index.tsx
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Add named styles to buttons
  demo/components_list.py
  src/npm-fastui-bootstrap/src/index.tsx
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck, js-prettier, js-lint, js-typecheck

Generate typescript
  src/npm-fastui/src/models.d.ts
Due: js-prettier, js-lint, js-typecheck

Added data_model=User
  README.md
Due: js-prettier

Fix issue with missing required field default value in Navbar JSON schema. Fix for #129
  src/python-fastui/fastui/components/__init__.py
Due: python-format, python-typecheck

Adding basic docs endpoint sanity test
  demo/tests.py
Due: python-format, python-typecheck

End of line fix
  demo/tests.py
Due: python-format, python-typecheck

Remove trailing whitespaces
  demo/tests.py
Due: python-format, python-typecheck

Path conditions:
  python-format: any of: \.py$
  python-typecheck: any of: \.py$
  js-prettier: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$, \.css$, \.json$, \.(md|markdown|mdown)$
  js-lint: any of: \.(ts|mts|cts)$, \.tsx$
  js-typecheck: any of: \.(ts|mts|cts)$, \.tsx$
